@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: 'Product Sans';
        src: url('/fonts/product-sans.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}